.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%; /* Increased modal width */
  height: 80%; /* Increased modal height */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden; /* Ensure scrollable content stays within bounds */
  display: flex;
  flex-direction: column;
}

.modal-content {
  flex: 1; /* Allow content to grow and take remaining space */
  overflow: auto; /* Enable scrolling for overflowing content */
  padding: 16px;
  font-family: monospace;
  white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Back to Website Button */
.back-to-website {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #3f4145;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.back-to-website:hover {
  background-color: #ff9800;
}
